.item_product {
  background-color: white;
  text-align: center;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  position: relative;
  height: 300px;
  .name_product{
    height: 60px;
  }

  .product_img {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 10px auto;
    border-bottom: 1px solid lightgray;

    img {
      height: 150px;
    }
  }

  div {
    display: grid;
    font-weight: 400;
    justify-content: center;
    align-items: center;

    .old_price_p {
      position: absolute;
      margin-left: 90px;
      text-decoration: line-through;
      color: gray;
      font-size: 15px;
      margin-bottom: 20px;
    }

    .new_price_p_salle {
      color: red;
      font-weight: 500;
    }

    .new_price_p{
      flex: 1;
      color: black;
      font-size: 16px;
      font-weight: 500;
    }
  }

  button {
    position: absolute;
    background-color: $background-color-blue;
    color: white;
    border: none;
    border-radius: 4px;
    width: 85%;
    margin: 10px auto;
    left: 20px;
    bottom: 0;
  }
}