.cart_content{
  margin-top: 30px;
  display: flex;
  width: 1500px;
  justify-content: space-evenly;
  &_products{
    background-color: white;
    padding: 30px 30px;
    border-radius: 5px;
    &_header{
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid grey;
      padding-bottom: 20px;
      align-items: center;
      &_name{
        font-size: 25px;
        font-weight: bold;
        margin-right: 100px;
      }
      &_weight{
        margin-right: 50px;
      }

      button{
        background-color: #ff2020;
        border-radius: 5px;
        border: none;
        padding: 0 15px;
        height: 40px;
        color: white;
      }
    }
    .cart_content_products-products{
      &_item{
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
        &-img{
          width: 50px;
        }
        &-name{
          margin-left: 10px;
          flex: 1;
          font-weight: normal;
        }
        &-weight{
          text-align: start;
          width: 120px;
          color: gray;
        }
        &-count{
          display: flex;
          align-items: center;
          &_delete{
            margin-left: 10px;
            button{
              color: white;
              font-weight: bold;
              border: none;
              border-radius: 5px;
              background-color: $background-color-blue;
              &:hover{
                cursor: pointer;
                background-color: rgb(16, 107, 150);
              }
            }
          }
          &_count{
            margin: 0 15px;
            span{
              font-weight: bold;
            }
          }
          &_add{
            button{
              color: white;
              font-weight: bold;
              border: none;
              border-radius: 5px;
              background-color: $background-color-blue;
              &:hover{
                cursor: pointer;
                background-color: rgb(16, 107, 150);
              }
            }
          }
          &_full-delete{
            margin-top: 8px;
            margin-left: 10px;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  &_shops{
    background-color: white;
    padding: 30px 30px;
    border-radius: 5px;
    &_header{
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid grey;
      padding-bottom: 20px;
      align-items: center;
      &_name{
        font-size: 20px;
        font-weight: bold;
      }
      button{
        background-color: $background-color-blue;
        border-radius: 5px;
        border: none;
        height: 40px;
        color: white;
        margin-left: 40px;
      }
    }
    &-shops{
      &_item{
        margin-top: 10px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 700px;
        &-header{
          border-bottom: 1px solid lightgray;
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &-logo_name{
            display: flex;
            justify-content: center;
            align-items: center;
            .logo{
              width: 60px;
              img{
                border-radius: 10px;
              }
            }
            .name{
              font-weight: normal;
              margin-left: 10px;
            }
          }
          &-price{
            color: grey;
          }
        }
        &-body{
          display: grid;
          grid-template-columns: 300px 300px;
          justify-content: space-between;
          &-count{
            min-width: 350px;
            span{
              font-weight: 500;
            }
            ul{
              margin: 0;
              padding-left: 5px;
              li{
                border: 1px solid lightgray;
                border-radius: 5px;
                padding-left: 5px;
                list-style-type: none;
                margin-top: 5px;
              }
            }
          }
          &-no_count{
            width: 310px;
            span{
              font-weight: 500;
            }
            ul{
              margin: 0;
              padding: 0;
              li{
                border: 1px solid lightgray;
                border-radius: 5px;
                padding-left: 5px;
                margin-top: 5px;
                color: grey;
                list-style-type: none;
              }
            }
          }
        }
      }
    }
  }
}